.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;

  background: linear-gradient(180deg, #0b1d2a, #102f44);
  color: #e6f7ff;

  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
  backdrop-filter: blur(8px);
  z-index: 100;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: #bfe9ff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 35px;
}

.nav-links a {
  text-decoration: none;
  color: #e6f7ff;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #7fdfff;
  text-shadow: 0 0 8px #7fdfff;
}
