@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  /* padding: 0; */
  /* font-family: "Open Sans", sans-serif; */

  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

body {
  background-color: rgb(35, 211, 202);
  margin: 0;
  overflow: hidden;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}
